<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="pull-left"><img id="barrLogo" class="img-responsive" src="/images/barrLogo.png"></a> 
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav navbar-right">
                <!-- Removed Login and Sign Up option from Menubar since only signed in Admin users can even see this page -->
                <li class="notSignedIn"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li> 
                <li class="notSignedIn"><a href="/register">Sign Up</a></li>
                <li class="signedIn"><p>Welcome <span id="userName">{{userName}}</span></p> 
                <li class="signedIn" id="logoutButton"><a href="/logout">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="errorMessage text-center">
    <h2>404 Error</h2>
    <hr>
    <h4>Page does not exist.</h4>
    <h4>Go to <a href="/">homepage</a>.</h4>
</div>

 <!-- Login Modal -->
    <div id="loginModal" class="modal fade text-center" role="dialog">
        <div class="modal-dialog">
            <!-- Login Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-lg fa-times-circle-o" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form id="loginForm" method="post" action="/login">
                        <div class="input-group">
                            <span class="input-group-addon">Email</span>
                            <input id="email" type="text" class="form-control" name="email">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">Password</span>
                            <input id="password" type="password" class="form-control" name="password">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="btnSubmit" class="btn btn-lg btn-danger center-block">Login</button>
                          
                          <small>Don't have an account? <a href="/register"><strong>Sign up</strong></a> for one.</small>
                            
                        </div>
                    </form>
                </div>
                
            </div>

        </div>

    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">&copy; Akhila | David | Kelly | Melinda 2017</span>
      </div>
    </footer>
<script type="text/javascript" src="/js/index.js"></script>