
<div class="container">

    <h1>Welcome, {{userName}}!</h1>

 


  

    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">&copy; Akhila | David | Kelly | Melinda 2017</span>
      </div>
    </footer>

 <script type="text/javascript" src="/js/userlogin.js"></script>