* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    background-image: url('../img/marble.jpg');
    /* Standard syntax */
}

body {
    background-color: transparent;
    font-family: 'Righteous', cursive;
    height: 100vh;
}

#leftNavBar {
    width: 9vw;
    position: fixed;
}

h3 {
    margin: 0px;
}

.navContainer {
    padding-left: 0px;
    background-color: #7C1C0C;
    height: 100vh;
}

.picDiv {
    padding-top: 5px;
    text-align: center;
    margin-bottom: 40px;
}

.leftPic {
    padding: 5px;
    width: 80%;
    height: 105px;
}

.navIcon {
    margin-right: 5px;
    height: 23px;
    width: 23px;
}

.titleNav {
    color: white;
    margin-bottom: 0px;
    font-size: 18px;
}

a:hover {
    text-decoration: none;
}

.linkLeft {
    color: white;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 14px;
}

.linkLeft:hover {
    background-color: black;
}

.linkLeftBottom {
    color: white;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 14px;
}

.linkLeftBottom:hover {
    background-color: black;
}

#socialContainer {
    margin-top: 90px;
}

#indexSection {
    border: solid 2px black;
    height: 100vh;
    margin-left: 9vw;
    padding: 5% 7.5% 0% 7.5%;
}

#columnOneContainer {
    float: left;
    width: 30%;
    padding: 1%;
}

#columnTwoContainer {
    float: left;
    width: 70%;
    padding: 1%;
}

.coolButton {
    width: 100%;
    height: 40px;
    background-color: lawngreen;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 5px;
    
}


/* Standard syntax */

.panel-body {
    background-color: lightgray;
}


/*#panelNotate {
    height: 250px;
}*/

hr {
    border-color: darkgray;
    margin: 10px 0px 20px 0px;
}

#loginHeading {
    text-align: center;
}

.loginHousing {
    margin-bottom: 10px;
}

input {
    width: 100%;
}

label {
    margin: 0px;
}

#mainContainer {
    margin-top: 10px;
    float: left;
}

#myShot {
    text-align: center;
    line-height: 25px;
    padding: 6px;
    padding-top: 3px;
    clear: both;
    color: white;
}

#exitAd {
    float: right;
    padding: 7px;
    font-size: 23px;
    color: white;
}

.hamAdTemp {
    clear: both;
    width: 126px;
    height: 420px;
    border-left: solid 3px black;
    border-right: solid 3px black;
    border-bottom: solid 3px black;
}

#chatAndNotate {
    float: right;
    margin-top: 45px;
    margin-right: 60px;
}

#panelChat {
    width: 400px;
    position: relative;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

#panelNotate {
    margin-bottom: 40px;
    border-left: solid 1px black;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    border-right: solid 1px black;
}

.panelMainNotate {
    overflow-y: scroll;
    height: 165px;
}

.welcomeChat {
    font-size: 17px;
    margin: 0px;
}

.panelMainChat {
    overflow-y: scroll;
    height: 180px;
}

#chatField {
    border-top: solid 1px lightgray;
}

.chatInput {
    border: transparent;
    width: 100%;
    padding: 2px;
    height: 20px;
}

input:focus {
    padding: 4px;
    outline: none;
}

#userName {
    font-size: 12px;
    font-weight: 900;
}

.userEntry {
    margin: 0px;
}

.userColor {
    font-size: 13px;
    color: green;
}

.otherColor {
    color: blue;
}

.opponentEntry {
    color: blue;
    margin: 0px;
}

#timeMoment {
    font-size: 13px;
}

div.panel-heading {
    background-color: #7C1C0C !important;
    color: white !important;
}

#loginModalStyle {
    width: 36vw;
    margin: auto;
    margin-top: 150px;
    background-color: lightgray;
}

#loginHeading {
    background-color: #7C1C0C !important;
    color: white !important;
}

.modal-body {
    padding: 30px;
}

.modal-footer {
    padding: 15px 0px 0px 0px;
}
#registerModal{
    width: 35vw;
    margin: auto;
}
.registerHeading{
    width: 90%;
}
.registerBody{
    width: 90%;
}
.registerInputDiv{
    width: 100%;
}
.registerLabel{
    float: left;
    font-size: 13px;
}
.registerInput{
    clear: both;
    height: 35px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 5px;
}