* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    background-image: url('../img/marble.jpg');
    /* Standard syntax */
}

body {
    background-color: transparent;
    font-family: 'Righteous', cursive;
    height: 100vh;
}

.totusTuus {
    height: 100vh;
    margin-left: 9vw;
    padding: 8px;
}

#leftNavBar {
    width: 9vw;
    position: fixed;
}

h3 {
    margin: 0px;
}

.navContainer {
    padding-left: 0px;
    /*background-color: #7C1C0C;*/
    background-image: url('../img/redmarble.jpg');
    height: 100vh;
}

.picDiv {
    padding-top: 5px;
    text-align: center;
    margin-bottom: 40px;
}

.leftPic {
    padding: 5px;
    width: 80%;
    height: 105px;
}

.navIcon {
    margin-right: 5px;
    height: 23px;
    width: 23px;
}

.titleNav {
    color: white;
    margin-bottom: 0px;
    font-size: 18px;
}

a:hover {
    text-decoration: none;
}

.linkLeft {
    color: white;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 14px;
}

.linkLeft:hover {
    background-color: black;
}

.linkLeftBottom {
    color: white;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 14px;
}

.linkLeftBottom:hover {
    background-color: black;
}

#socialContainer {
    margin-top: 90px;
}

#startGame {
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    border: 5px solid rgba(0, 255, 0, 1);
    animation-name: flash;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
}

.flashing {
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    border: 5px solid rgba(0, 255, 0, 1);
    animation-name: flash;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
}


/* Standard syntax */

@keyframes flash {
    0% {
        border: 5px solid rgba(0, 255, 0, 1);
    }
    50% {
        border: 5px solid rgba(0, 255, 0, 0.30);
    }
    100% {
        border: 5px solid rgba(0, 255, 0, 1);
    }
}


/*#panelNotate {
    height: 250px;
}*/

.nameAndRating {
    float: left;
    height: 100%;
    letter-spacing: 1px;
    margin-bottom: 0px;
    padding: 7px 7px 5px 5px;
    font-size: 16px;
    color: white;
    background: linear-gradient(to right, black, #31302E);
}

.userName {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bolder;
}

#mainContainer {
    float: left;
    padding: 10px;
}

#boardWrapper {
    clear: both;
    /*background-image: url('../img/redmarble.jpg');*/
    padding: 20px;
}

#boardContainer {
    width: 36vw;
}

#board {
    clear: both;
    border-radius: 1px;
}

.userName {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.userIcon {
    height: 30px;
    width: 25px;
    padding: 3px;
}

.capturedPiece {
    height: 22px;
    width: 22px;
    margin: -2px;
}

.pieceDock {
    padding: 3px;
}

#rightInfo {
    float: left;
    border: solid 1px black;
    margin-top: 10px;
    padding: 10px;
    width: 51.5vw;
    height: 76.75vh;
}

input:focus {
    padding: 4px;
    outline: none;
}

#userName {
    font-size: 12px;
    font-weight: 900;
}

.userEntry {
    margin: 0px;
}

.userColor {
    font-size: 13px;
    color: green;
}

.otherColor {
    color: blue;
}

.opponentEntry {
    color: blue;
    margin: 0px;
}

#timeMoment {
    font-size: 13px;
}

.helloUser {
    float: right;
    padding: 5px;
    margin-right: 15px;
}

.bottomInfo {
    clear: both;
    border: solid 1px black;
    padding: 3px;
    margin: 0px 10px 0px 10px;
}

.engineTitle {
    border-right: solid 3px black;
    font-size: 18px;
    padding: 5px 15px 5px 5px;
    margin-right: 20px;
}

.analysisTitle {
    font-size: 15px;
    padding: 5px;
    margin-right: 5px;
}

.headerBorder {
    height: 100%;
}

hr {
    clear: both;
    border-color: black;
}

.depthOutput {
    margin-left: 200px;
}

.nodesOutput {
    margin-left: 200px;
}

.nodeRateOutput {
    margin-left: 200px;
}

.bestLineOutput {
    margin-left: 200px;
}

.analysisOutput {
    font-size: 14px;
    color: blue;
}

.tableEngine {
    font-size: 18px;
    width: 160px;
}

.tableHeading {
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

#depthHeader {
    width: 75px;
}

#scoreHeader {
    width: 80px;
}

#nodesVisitedHeader {
    width: 125px;
}

#nodeRateHeader {
    width: 130px;
}

#bestLineHeader {
    margin-left: 10px;
    text-align: left;
}

tbody {
    text-align: center;
    font-size: 14px;
    color: blue;
}

#bodyBestLine {
    text-align: left;
}

#engineWhitePanel {
    float: left;
    width: 48.5%;
    margin: 5px;
}

#engineBlackPanel {
    float: left;
    width: 48.5%;
    margin: 5px;
}

#engineWhiteHeader {
    background-color: white !important;
    color: black !important;
    border-radius: 0px;
    padding: 5px;
}

#engineBlackHeader {
    background-color: black !important;
    color: white !important;
    border-radius: 0px;
    padding: 5px;
}

.engineIcon {
    height: 30px;
    width: 30px;
}

#moveList {
    clear: both;
    margin-top: 20px;
    height: 41vh;
}

.widePanel {
    clear: both;
    width: 98.75%;
    margin: 5px;
}

.blackHeader {
    background-color: black !important;
    color: white !important;
    border-radius: 0px;
    padding: 5px;
}

div.panel-default {
    background-color: transparent !important;
    border: solid 1px black;
    border-radius: 0px;
}