* {
    box-sizing: border-box;
}

html {
    background-image: url(../img/grayb.jpg);
}
body{
    background-color: transparent;
}

#headercontainer {
    margin: 5px 0px 5px 0px;
}

h3 {
    margin: 0px;
}

button {
    height: 30px;
    border-radius: 2px;
}

#boardContainer {
    float: left;
    margin: 5px;
    border: solid 2px black;
}