* {
    box-sizing: border-box;
}

html {
    background-image: url('../img/marble.jpg');
    height: 100vh;
}

body {
    background-color: transparent;
    font-family: 'Righteous', cursive;
    height: 100vh;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100vw;
}

#headerEngineContainer {
    margin: 5px;
}

#engineTitle {
    float: left;
    margin-right: 50px;
}

#gameScore {
    font-size: 18px;
    float: right;
    height: 30px;
    margin-top: 5px;
    margin-right: 100px;
}

#scoreRunway {
    font-size: 16px;
    font-weight: bolder;
}

.pieceDock {
    clear: both;
    height: 30px;
    width: 500px;
}


/*.totusTuus{
    background-image: url("../img/column3.png");
    background-size: cover;
}*/

.panel-body {
    padding: 5px;
}

#leftNavBar {
    padding-left: 0px;
}

h3 {
    margin: 0px;
}

.navContainer {
    padding-left: 0px;
    background: linear-gradient(to right, black, #31302E);
    height: 100vh;
}

button {
    height: 30px;
    border-radius: 2px;
}

.picDiv {
    padding-top: 5px;
    text-align: center;
    margin-bottom: 40px;
}

.capturedPiece {
    height: 22px;
    width: 22px;
    margin: -2px;
}

.leftPic {
    padding: 5px;
    width: 80%;
    height: 105px;
}

.navIcon {
    margin-right: 5px;
    height: 23px;
    width: 23px;
}

.titleNav {
    color: darkgray;
    margin-bottom: 0px;
    font-size: 18px;
}

a:hover {
    text-decoration: none;
}

.linkLeft {
    color: darkgray;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 14px;
}

.linkLeft:hover {
    background-color: black;
}


/*#panelNotate {
    height: 250px;
}*/

.smallpad {
    padding-left: 0px;
    padding-right: 0px;
}

#mainBoardArea {
    margin: auto;
    width: 90%;
    margin-top: 3vh;
}

#timeMoment {
    font-weight: lighter;
    font-size: 11px;
}

#playerInfoTop {
    width: 99.5%;
    height: 40px;
}

#playerInfoBottom {
    width: 99.5%;
    height: 40px;
}

.nameAndRating {
    float: left;
    height: 100%;
    letter-spacing: 1px;
    margin-bottom: 0px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background: linear-gradient(to right, black, #31302E);
    border-radius: 3px;
}

.timerDiv {
    float: right;
    width: 130px;
}

.clockIcon {
    padding-top: 6px;
    margin-left: 5px;
    float: right;
    height: 35px;
    width: 35px;
}

.timerAndTurn {
    padding: 7px 10px 5px 10px;
    margin-bottom: 0px;
    float: right;
    /*background: linear-gradient(to right, black, #31302E);*/
    font-size: 20px;
    padding: 7px 10px 5px 10px;
    margin-bottom: 0px;
    color: black;
    font-weight: bolder;
    float: right;
    border-radius: 3px;
}

.greenLight {
    margin-left: 10px;
    margin-bottom: 3px;
    height: 20px;
    width: 20px;
}

#board {
    clear: both;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.userName {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.userIcon {
    height: 25px;
    width: 25px;
    padding: 3px;
}

.panelMainChat {
    height: 200px;
    overflow-y: scroll;
}

.panelMainNotate {
    height: 225px;
    overflow-y: scroll;
}

#chatField {
    border-top: solid 1px lightgray;
}

.chatInput {
    border: transparent;
    width: 100%;
    padding: 2px;
    height: 30px;
}

input:focus {
    padding: 4px;
    outline: none;
}

.welcomeChat {
    font-size: 17px;
    margin: 1px;
}

#userName {
    font-size: 12px;
    font-weight: 900;
}

.userEntry {
    margin: 0px;
}

.userColor {
    font-size: 13px;
    color: green;
}

.otherColor {
    color: blue;
}

.opponentEntry {
    color: blue;
    margin: 0px;
}

.movePar {
    margin: 0px;
    padding: 8px;
    clear: both;
}

.whiteMove {
    font-size: 12px;
    font-weight: bolder;
    width: 67px;
    float: left;
    margin-bottom: 0px;
}

.blackMove {
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
    width: 50px;
    margin-bottom: 0px;
}

.flankRight {
    position: relative;
    top: 65px;
    width: 210px;
    height: 515px;
}

.errorHeader {
    background-color: lightcoral;
    padding: 10px;
    border-radius: 3px;
    padding-left: 25px;
}