* {
    box-sizing: border-box;
}

body {}

#boardAndLabelsContainer {
    float: left;
}

#rankLabelsContainer {
    float: left;
    width: 60px;
    height: 483px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 25px;
}

.labels {
    clear: both;
    padding: 15px 0px 0px 25px;
    width: 60px;
    height: 60px;
}

#boardContainer {
    float: left;
    width: 484px;
    height: 484px;
    border: solid 2px black;
}

.darkSquare {
    float: left;
    width: 60px;
    height: 60px;
    background-color: green;
}

.lightSquare {
    float: left;
    width: 60px;
    height: 60px;
}

#fileLabelsContainer {
    clear: both;
    width: 484px;
    height: 60px;
    margin-left: 90px;
    font-weight: 700;
    font-size: 25px;
}

.labelsRow {
    float: left;
    width: 60px;
    height: 60px;
    padding: 15px 0px 0px 20px;
}
